@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
*{
    box-sizing: border-box;
}
*:focus{
    outline: none !important; 
}
html{
    scroll-behavior: smooth;
}
body{
    margin: 0%;
    padding: 0;
    font-family: 'Lato';
    color: white;
    overflow-x: hidden;
    height: 100vh;
    overflow: hidden;
    
}
body::-webkit-scrollbar{
    display: none;
}
hr{
    width: 80%;
}
h2{
    text-align: center;
    font-size: 64px;
    margin: 0;
    padding: 2rem;
}
nav{
    margin: 0;
    padding: 10px;
    background-color: #2F222E;
    z-index: 1;
    position: fixed;
    width: 100%;
    top: 0%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 2;
    display: flex;
    align-items: center;
}
/*animate nav elements color*/
.navEls{
    list-style-type: none;
    padding: 10px;
    position: absolute;
    margin-right: auto;
    font-size: 16px;
    display: flex;
    right: 10px;
    top: -10px;
}
.navEls .navEl{
    margin: 0px 10px;
}
.navEls .navEl a{
    text-decoration: none;
    color: #ffffff;
}
.navEls .navEl a:hover{
    color: #FFB68D;
}
nav small a{
    color: #db9d79;
    text-decoration: none;
    margin-left: 10px;
}
/* the quote styles */
header{
    background-color: #2F222E;
    padding-top: 100px;
    padding-left: 40px;
    z-index: 0;
    height: 100vh;
}

header::after{
    content: '';
    display: block;
    width: 380px;
    height: 200px;
    background-color: #FFB68D;
    opacity: 0.3;
    border-radius: 50%;
    position: absolute;
    top: 40px;
    left: 10px;
    z-index: 0;
}
.quote{
    margin: 0%;
    margin-left: 30px;
    font-size: 85px;
    width: 60vw;
    position: relative;
    z-index: 1;
}
.phrase{
    display: inline;
}
.phrase span{
    opacity: 0;
    transition: opacity 200ms ease;
}
.phrase span.shown{
    opacity: 1;

}

.quote div.firstWord{
    font-weight: 1000;
    display: inline-block;
}
.quoteLine{
    background-color: #ffffff;
    position: absolute;
    width: 5px;
    height: 0px;
    transition: height 1s ease-in 1s;

}
.teller{
    display: flex;
    align-items: center;
    margin-top: 30px;
    margin-left: 30px;
    opacity: 0;
    transition: opacity 0.3s ease-in 2.5s;
}
small{
    font-size: 24px;
    margin-right: 10px;
}
.teller img{
    border-radius: 50%;
}
header .arrow{
    color: #FFB68D;
    position: relative;
    font-size: 20px;
    position: absolute;
    bottom: 80px;
    right: 80px;
    text-decoration: none;
    opacity: 0;
    transition: opacity 200ms ease, transform 300ms ease;
}
header .arrow.mouseEnter{
    transform: translateY(-5px);
}
header a i{
    font-size: 32px;
    position: absolute;
    right: 30px;
}
/* about me */
section.aboutMe{
    padding-top: 3rem;
    background-color: #382836;
}
section.aboutMe > .brief{
    font-size: 32px;
    padding: 5rem 10rem;
    padding-bottom: 8rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
section.aboutMe > .brief a.cv{
    text-decoration: none;
    color:inherit;
    background-color: #221821;
    margin: auto;
    padding: 0.5rem 1rem;
    border-radius: 3px;
    transition: background 0.2s ease;
}
section.aboutMe > .brief a.cv:hover{
    background-color: #573a54;
    box-shadow: 0px -2px -5px rgba(0, 0, 0, 0.2);
}
section.aboutMe > .brief p{
    margin: 0;
    margin-bottom: 30px;
}
.cvImg img{
    margin-right: 30px;
    margin-bottom: 30px;
    border-radius: 50%;
    width: 250px;
}
section.aboutMe > .skills{
    padding: 1rem 0;
    background-color: #2F222E;
    font-size: 24px;
}


section.aboutMe .skills .goodAt,section.aboutMe .skills .know,section.aboutMe .skills .tools,section.projects .works{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
section.aboutMe .skills .skill,section.projects .works .work{
    width: 300px;
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
section.aboutMe .skills i,section.projects .works .work i{
    font-size: 72px;
}
.discord{
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 1rem;
}
.discord .discordParagraph{
    max-width: 600px;
}
.discord .discordParagraph > p{
    font-size: 32px;
}
.discord i{
    font-size: 250px;
    margin: 10px;
    margin-left: 30px;
}
.discord a{
    color: #db9d79;
    text-decoration: none;
}
/*my projects*/
section.projects{
    background-color: #271c26;
    font-size: 32px;
    padding: 2rem 0;
}
section.projects h2{
    padding-bottom: 0.3rem;
}
section.projects .works .work{
    cursor: pointer;
}
section.projects small{
    opacity: 0.7;
    display: block;
    text-align: center;
    margin-bottom: 2rem;
}
/*the footer*/
footer{
    background-color: #ca9170;
}
footer .contactContainer{
    margin: 0 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
footer h2{
    text-align: left;
    font-size: 32px;
    padding-left: 16px;
    border-bottom: 2px solid ;
    margin-left: 3rem;
    display: inline-block;
    width: 300px;
}
footer i{
    margin: 0 7px;
}
footer .social i{
    font-size: 32px;
}
footer .email{
    margin: 1rem;
}
footer .social ul{
    color: #ffffff;
    margin: 0%;
    padding: 0%;
    text-decoration: none;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 200px;
}
footer .social{
    margin: 1rem 0;
    padding: 0%;
}
footer a:visited{
    color: #ffffff;
}
/* media queries */
@media(max-width:850px){
    .quote{
        font-size: 54px;
    }
    header::after{
        width: 250px;
        height: 170px;
        left: 15px;
        top: 30px;
    }
    section.aboutMe > .brief{
        padding: 2rem 2rem;
        flex-direction: column;
    }
    section.aboutMe .skills .goodAt,section.aboutMe .skills .know,section.aboutMe .skills .tools,section.projects .works{
        flex-direction: column;
    }
    .discord i{
        display: none;
    }
    header .arrow{
        right: 30px;
        bottom: 49px;
    }
    footer .contactContainer{
        flex-direction: column;
        justify-content: center;
        margin: 0 1rem;
    }
    
}

